.idea/
__pycache__/
myenv/
*.iml
interview-practice/out/*
java/simple-was/out/*
java/simple-was1/target
.gradle/
build/
interview-practice/out/
java/simpleservlet/target
**/target/

scala/scala-tour/out/
scala/rock-the-jvm-scala/out/
javascript/list-like/node_modules/
*/node_modules/
